<html>
<head>
    <meta charset="utf-8" />
    <title>Hello Django</title>
</head>
<body>
    {% if request.session.user %}
    Hello {{ request.session.user.name }}!<a href='/logout'>Logout?</a>
    {% else %}
    Hello Django! <a href='#' onClick="login()">Login?</a>
    {% endif %}
<script>
    function login() {
        var url = '{{ OAUTH_AUTH_URL}}/?response_type=code';
        url += '&state={{ request.session.state }}';
        url += '&client_id=' + encodeURIComponent('{{ CLIENT_ID }}');
        url += '&redirect_uri=' + encodeURIComponent(window.location);
        alert(url);
        window.location = url;
    }
</script>
</body>
</html>
