<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body >
  <div id="login_frame" >
    <form class="login_form" action="" method="post">
      {% csrf_token %}
    	<h1>清华大学艺术团招新平台</h1>
      <h3 class="line"></h3>
      <h2 style="font-size: 140%;">请登陆</h2>
      <p>
        <label >学号</label>
        <input id="account" name="account">{{ name_judge }}
      </p>
      <p>
        <label >密码</label>{{ password_judge }}
        <input type="password" id="password" name="password">
      </p>
      <p>
        <button id="login" type = "button" onclick="try_login()">登录</button>
        <button id="register" onclick="location.href='register.html'" type="button">注册</button>
      </p>
      <p>
      	<a href="reset.html">忘记密码？</a>
      </p>
        {{ post }}
    </form>
  </div>
  <script>
      function try_login() {
          var account = document.getElementById('account');
          var password = document.getElementById('password');
          $.ajax({
              type: 'POST',
              url: '/tsinghua_login/',
              data: {'account': account.value,
                    'password': password.value,},
              dataType: 'json',
              success: function (data) {
                  alert(data['msg']);
                  if(data['msg'].indexOf("你好") != -1) {
                      window.location.href = "/homepage/main.html";
                  }
              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                    // 状态码
                    alert(XMLHttpRequest.status);
                    // 状态
                    alert(XMLHttpRequest.readyState);
                    // 错误信息
                    alert(textStatus);
                }
          });
      }
    </script>
    <script src="/static/main.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</body> 
</html>