<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>艺术团招新平台</title>
</head>

<frameset rows="100,*" cols="*" >
  <frame src="top.html" name="topFrame" noresize="noresize" id="topFrame" title="index_top"  scrolling="No"/>
  <frameset rows="*" cols="10%,90%" framespacing="10" frameborder="no" border="10">
  <frame src="left.html" name="leftFrame" scrolling="No"  id="leftFrame" title="index_left" />
  <frame src="student.html" name="mainFrame" noresize="noresize"  id="mainFrame" title="index_main" />
  </frameset>
</frameset>
<body>
	
</body>
</html>
