<html>
   <head>
      <title>Singup</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

      <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
	</head>
	<body onload="creatTab()">
        {{ post }}
        <center>
        <form class="form-inline" method="post">
            {% csrf_token %}
            <div class="container">
                <!-- <h2>表格</h2>
                <div class="form-group">
                    <label for="team_name">队名：</label>
                    <input type="text" class="form-control" name="team_name"
                        id="team_name" placeholder="请输入队名">
                    <button type="submit" class="btn btn-success" name="add">增加队伍</button>
                </div> -->
                <div id="mytab"></div>
            </div>
        </form>
          </center>
        <script type="text/javascript">
            function creatTab(){
                var person = {{ person|safe }}
                var mylist = {{ mylist|safe }}
                var choose = person['choose'] 
                var tab = '<table class="table"><thead><table class="table">\n' +
                    '<h1>我的志愿</h1>'+
                    '<thead>\n' +
                    '<tr>\n' +
                    '<th>志愿序号</th>\n' +
                    '<th>队伍名</th>\n' +
                    '</tr>\n' +
                    '</thead>\n' ;

                    for(var i = 0; i < choose.length; i++){
                    tab += '<tr>';
                    tab += "<td>" + String(i+1) + "</td>";
                    tab += "<td><label>" + String(choose[i]) + "</label></td>";
                    tab += "<td><button class=\"btn btn-danger\" name=\"signup"
                                + String(i) + "\" onclick=\"delChoose("+i+")\">删除</button></td>";
                    tab += '</tr>';
                    }

                    
                    tab += '</thead></table>'
                    tab += '<h1>现有队伍</h1>';

                    tab+= '<table class="table">'
                    '<h1>我的志愿</h1>'+
                    '<thead>\n' +
                    '<tr>\n' +
                    '<th>志愿序号</th>\n' +
                    '<th>队伍名</th>\n' +
                    '</tr>\n' +
                    '</thead>\n' ;
                tab+='<thead>\n' +
                    '<tr>\n' +
                    '</tr>\n' +
                    '</thead>\n' +
                    '<tbody>';
                for(var i = 0; i < mylist.length; i++){
                    tab += '<tr>';
                    tab += "<td>" + String(i+1) + "</td>";
                    tab += "<td><label id=\"team" + String(i) + "\">" + String(mylist[i]['name']) + "</label></td>";
                    tab += "<td><button class=\"btn btn-success\" name=\"signup"
                                + String(i) + "\" onclick=\"getChoose(this)\">报名</button></td>";
                    tab += '</tr>';
                }
                tab += '</tbody>';
                tab += '</table>';
                div1 = document.getElementById('mytab');
                div1.innerHTML=tab;
            }

            function getChoose(element) {
                var element_name = element.name;
                str = "team" + element_name.substring(6);
                mytext = $("#"+str).text();
                alert(mytext)
                $.ajax({
                    type: 'POST',
                    data: {'team_name':mytext},//json
                    {#contentType: 'application/json',#}
                    dataType: 'json',
                    url: 'getChoose/',
                    success: function (data) {
                        alert(data['info']);
                    },
                    error: function (e) {
                        alert("发送失败");
                    }
                });
            }

            function delChoose(num) {
                alert(num+1);
                $.ajax({
                    type: 'POST',
                    data: {'choose':num},//json
                    {#contentType: 'application/json',#}
                    dataType: 'json',
                    url: 'delChoose/',
                    success: function (data) {
                        alert(data['info']);
                    },
                    error: function (e) {
                        alert("发送失败");
                    }
                });
            }

            function setChoose(element,num) {
                var element_name = element.name;
                str = "team" + element_name.substring(6);
                mytext = $("#"+str).text();
                $.ajax({
                    type: 'POST',
                    data: {'team_name':mytext, 'choose':num},//json
                    {#contentType: 'application/json',#}
                    dataType: 'json',
                    url: 'setChoose/',
                    success: function (data) {
                        alert(data['info']);
                    },
                    error: function (e) {
                        alert("发送失败");
                    }
                });
            }
        </script>

      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="/static/bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>