<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学生艺术团招新</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="page" class="container">
	
	<div id="main">
		<div id="just_title" class="just_title"><h1 >我的面试</h1></div>
		<div id="my_due",class = "my_due">

			<table class="table table-bordered table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>队伍名</th>
					<th>时间</th>
					<th>地点</th>
					<th>评委</th>
					<th>注意事项</th>
				</tr>
			</thead>
				<tbody>
					<tr>
						<td id="interview_rank">1</td>
						<td id="team_name">国标队</td>
						<td id="interview_time">2018-11-11</td>
						<td id="interview_pos">艺教中心</td>
						<td id="interviewer">大胖子</td>
						<td id="note">穿方便跳舞的衣服</td>
					</tr>

					<tr>
						<td id="interview_rank">2</td>
						<td id="team_name">军乐团</td>
						<td id="interview_time">2018-11-21</td>
						<td id="interview_pos">艺教中心</td>
						<td id="interviewer">小胖胖</td>
						<td id="note">带乐器</td>
					</tr>

					<tr>
						<td id="interview_rank">3</td>
						<td id="team_name"></td>
						<td id="interview_time"></td>
						<td id="interview_pos"></td>
						<td id="interviewer"></td>
						<td id="note"></td>
					</tr>
					<tr>
						<td id="interview_rank">4</td>
						<td id="team_name"></td>
						<td id="interview_time"></td>
						<td id="interview_pos"></td>
						<td id="interviewer"></td>
						<td id="note"></td>
					</tr>
					<tr>
						<td id="interview_rank">5</td>
						<td id="team_name"></td>
						<td id="interview_time"></td>
						<td id="interview_pos"></td>
						<td id="interviewer"></td>
						<td id="note"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="welcome">
			<div class="title">
				<h2>艺术团概况</h2>
				<!-- <span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> -->
			</div>
			<p>清华大学学生艺术团是一支由学校创建的学生业余文艺团体，是广大清华学子进行艺术实践的园地，是学校实施艺术教育和美育教育的第二课堂，是清华大学的一支文艺代表队。学生艺术团由校团委直接领导，由艺术教育中心负责艺术指导和教学，现辖军乐队、民乐队、合唱队、交响乐队、舞蹈队、话剧队、国际标准舞队、键盘队、美术社、摄影队、京剧队、曲艺队等十二支队伍，拥有包括本科生、硕士生、博士生以及留学生在内的1200名成员。 </p>
			<ul class="actions">
				<li><a href="#" class="button">Etiam posuere</a></li>
			</ul>
		</div>
	</div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
