
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学生艺术团招新</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/default_signup.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="page" class="container">
	<div id="main">
		<div id="just_title" class="just_title"><h1 >队伍报名</h1></div>
		<div>

			<table width="360" height="200" align="center" border="1">
			<tr>
			<td id="will_first">第一志愿：</td>
			<td>
				<select name="zhiyuanyi">
					<option>无</option>
					<option>军乐队</option>
					<option>民乐队</option>
					<option>合唱队</option>
					<option>交响队</option>
					<option>舞蹈队</option>
					<option>话剧队</option>
					<option>国标队</option>
					<option>京剧队</option>
					<option>曲艺队</option>
					<option>键盘队</option>
					<option>美术社</option>
					<option>摄影队</option>
				</select>
			</td>
			</tr>
			<tr>
			<td id="will_second">第二志愿：</td>
			<td>
				<select name="zhiyuaner">
					<option>无</option>
					<option>军乐队</option>
					<option>民乐队</option>
					<option>合唱队</option>
					<option>交响队</option>
					<option>舞蹈队</option>
					<option>话剧队</option>
					<option>国标队</option>
					<option>京剧队</option>
					<option>曲艺队</option>
					<option>键盘队</option>
					<option>美术社</option>
					<option>摄影队</option>
				</select>
			</td>
			</tr>
            <tr>
			<td id="will_third">第三志愿：</td>
			<td>
				<select name="zhiyuansan">
					<option>无</option>
					<option>军乐队</option>
					<option>民乐队</option>
					<option>合唱队</option>
					<option>交响队</option>
					<option>舞蹈队</option>
					<option>话剧队</option>
					<option>国标队</option>
					<option>京剧队</option>
					<option>曲艺队</option>
					<option>键盘队</option>
					<option>美术社</option>
					<option>摄影队</option>
				</select>
			</td>
			</tr>
			</table>
	</div>
<div id="div_submit">
	<p>
	 <input type="submit" id="submit" value="提交">
	 </p>
	</div>
	</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
