<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>清华大学信息平台</title>
  <meta name="description" content="Wireframe design of a checkout form by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe checkout form">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/wireframe.css">
</head>

<body class="bg-light">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-7 mx-auto">
          <h1 contenteditable="true" class="">个人信息</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form class="needs-validation" novalidate="" style="">
            <div class="form-row" style="">
              <div class="col-md-6 mb-3" style=""> <label for="firstName">姓名<br></label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback"> Valid first name is required. </div>
              </div>
              <div class="col-md-6 mb-3" style=""> <label for="firstName">学号<br></label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="col-md-12 mb-3">
                  <div class="invalid-feedback"> Please select a valid country. </div>
                </div>
                <div class="invalid-feedback"> Valid first name is required. </div>
              </div>
            </div>
            <div class="row" style="">
              <div class="col-md-6 mb-3"> <label for="state">系别</label> <select class="custom-select d-block w-100" id="state" required="">
                  <option value="">无</option>
                  <option value="">计算机系</option>
                  <option value="">热能系</option>
                  <option value="">自动化系</option>
                  <option value="">电机系</option>
                  <option value="">社科学院</option>
                </select>
                <div class="invalid-feedback"> Please provide a valid state. </div>
              </div>
              <div class="col-md-6 mb-3"> <label for="state">年级</label> <select class="custom-select d-block w-100" id="state" required="">
                  <option value="">无</option>
                  <option value="California">大一</option>
                </select>
                <div class="invalid-feedback" style=""> Please provide a valid state. </div>
              </div>
            </div>
            <div class="mb-3" style=""> <label for="email">邮箱 <span class="text-muted"></span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
            </div>
            <div class="mb-3" style=""> <label for="address2">手机号码<br></label>
              <input type="text" class="form-control" id="address2" placeholder="your phone number"> </div>
            <div class="form-group"> <label>Old Password</label> <input type="password" class="form-control" placeholder="Password"> </div>
            <div class="form-group"> <label>Old Password</label> <input type="password" class="form-control" placeholder="Password"> </div>
            <div class="form-group"> <label>Password</label> <input type="password" class="form-control" placeholder="Password"> </div>
            <div><button type="submit" class="btn btn-primary text-dark w-100" style="  box-shadow: 0px 0px 4px  black;">Submit</button></div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="assets/js/validation.js"></script>

  </div>
</body>

</html>